[submodule "PoGo.NecroBot.Logic"]
	path = PoGo.NecroBot.Logic
	url = https://github.com/TheUnnamedOrganisation/PoGo.NecroBot.Logic.git
	branch = new
[submodule "PokemonGO-Assets"]
	path = RocketBot2/Resources/PokemonGO-Assets
	url = https://github.com/Necrobot-Private/PokemonGO-Assets.git
	branch = master
